<%= render :partial => 'error_messages' %>


<div class="center hero-unit">
	<h1>Shrkify Your Link!</h1>

	<div class="row">
		<div class="center">
			<%= form_for(@link) do |f| %>
				<div class="input-append">
				<%= f.text_field :url, class: "txtbox span4", id: "appendedInputButton" %>
				<%= f.submit "Shrkify", class: "btn btn-large btn-info" %>
				</div>
			<% end %>
		</div>
	</div>
</div>